**/node_modules/**
**/build/**
**/coverage/**
**/dist/**
**/dest/**
**/scripts/**
**/tsconfig.*
**/*.config.js
**/*.config.ts
**/.eslintrc
**/.eslintrc.*
**/.prettierrc
**/.prettierrc.*
**/.prettier.*
**/*.svg
**/public/**
**/.next/**