.blog-content {
  max-width: 728px;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
  }
  &__header :first-child {
    margin-right: auto;
  }

  &__date {
    color: var(--secondary-color);
    font-size: 1em;
    font-weight: 400;
    line-height: 175%;
    margin-bottom: 0.125em;
    margin-right: 0.25em;
  }

  &__title {
    color: var(--main-color);
    font-size: 2.8em;
    font-weight: 700;
    margin: 0px auto 0.5em;
    max-width: 800px;
    text-align: left;
  }

  &__image {
    background-color: lightgray;
    margin-bottom: 5.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    overflow: hidden;
    padding-top: 54%;
    position: relative;
    width: 100%;
    border-radius: 18px;
    z-index: -1;

    img {
      &.loaded {
        display: block;
      }
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      border: none;
      object-fit: cover;
    }
  }

  &__content p {
    font-size: 1.125em;
    margin-bottom: 1em;
  }

  &__content h2 {
    margin-bottom: 1em;
  }

  .edit-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__overlay {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__content {
      position: relative;
      z-index: 1;
      max-width: 728px;
      width: calc(100% - 40px);
      padding: 2em;
      border-radius: 18px;
      background-color: #fff;

      &__container {
        margin-top: 30px;
      }
    }
  }
}
