@import "../../variables.scss";

.list {
    list-style-type: none;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  
  .item {
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
  
    &:hover {
      box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
    }
  
    .link {
      text-decoration: none;
      width: 100%;
      height: 100%;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .image {
      height: 60%;
      object-fit: cover;
      grid-column: 1 / -1; // Expand the image to occupy both grid rows
    }
  
    .content {
      padding: 1rem;
      
      .title {
        color: $main-font-color;
        
        font-size: 1.5em;
        font-weight: bold;
  
        grid-row: 1 / span 1; // Place the title in the first row
      }
  
      .paragraph {
        color: $secondary-font-color;

        margin-top: auto;
        font-size: 1em;
        line-height: 1.5; // Set the line height to 1.5 times the font size for readability
        overflow: hidden;
        text-overflow: ellipsis;
  
        display: -webkit-box; // For Safari and older versions of Chrome and Firefox
        -webkit-line-clamp: 3; // Limit the number of lines to 3
        -webkit-box-orient: vertical; // Overflow direction for webkit
        min-height: 4.5em; // Minimum height of 3 lines with 1.5em line height
      }
    }
  }
  