.home {
  &__title {
    text-align: center;
  }
}

.list {
  list-style-type: none;
  display: grid;
  margin-top: 3em;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  @media screen and (max-width: 868px) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
