@import "../../variables.scss";

.body {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: val(card-bgcolor);
  position: relative;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  color: val(main-font-color);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 1rem;
  text-transform: uppercase;
}

.menu {
  align-items: center;
  display: flex;
  list-style: none;
}

.menuItem {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-right: 2rem;
  text-transform: uppercase;
}

.menuLink {
  border-bottom: 2px solid transparent;
  color: val(link-color);
  text-decoration: none;
  transition: border-color 0.3s ease-in-out;
  display: flex;
  height: 100%;
  padding: 1em;

  &:hover,
  &.active {
    border-color: val(link-color);
  }
}