@import "../../variables.scss";

$header-height: 72px;

.body {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
}

.header {
  background-color: val(card-bgcolor);
  position: fixed;
  width: 100%;
  z-index: 10;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: val(main-font-color);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 1rem;
  text-transform: uppercase;
}

.menu {
  align-items: center;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menuItem {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-right: 2rem;
  text-transform: uppercase;
}

.menuLink {
  border-bottom: 2px solid transparent;
  color: val(link-color);
  padding-bottom: 0.5rem;
  text-decoration: none;
  transition: border-color 0.3s ease-in-out;

  &:hover,
  &.active {
    border-color: val(link-color);
  }
}

.placeholder {
  height: $header-height;
}


.createPost {
  color: white;
  background-color: val(link-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin-left: auto;

  &:hover {
    opacity: 0.8;
  }
}