.header {
  background-color: var(--secondary-bgcolor);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 99;

  &__body {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
