.toTopBtn {
  appearance: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  background: var(--accent-color);
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 100;
  outline: none;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .toTopBtn {
    right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .toTopBtn {
    right: 50px;
  }
}
