.form {
  &__group {
    margin-bottom: 1em;
  }

  &__image-picker {
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: auto;
    gap: 0.2em;
  }

  &__image-preview {
    border: 1px solid #ced4da;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;

    img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      border: none;
      object-fit: cover;
    }
  }
}