@import "variables.scss";
@import "scrollbar.scss";

// reset styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root{
  height: 100%;
}

body {
  overflow-y: scroll; // fix scrollbar page moving
}

// change selection color
::selection {
  background-color: #b3d4fc;
  color: #333;
}

:root {
  --font-family: "Poppins", sans-serif;
  --font-size: 105%;
  --line-height: 1.5;
  --letter-spacing: 0.02em;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 3em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1em;
}


h2 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2em;
  line-height: 1.2;
}

p {
  line-height: 200%;
  font-weight: 400;
  margin-bottom: 1em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}