:root {
  /* colors */
  --primary-color: #333333;
  --secondary-color: #54575a;
  --accent-color: #007aff;

  /* background colors */
  --primary-bgcolor: #fff;
  --secondary-bgcolor: #fff; // #fafafa

  --container-width: 720px;
}
