$animation-margin: 8px;

.card {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-top: $animation-margin;
  background-color: var(--secondary-bgcolor);
  border-radius: 18px;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 16px;
  transition: box-shadow 0.25s ease-in-out 0s, transform 0.25s ease 0s;

  &:hover {
    box-shadow: rgb(0 0 0 / 14%) 0px 4px 16px;
    transform: translateY(-$animation-margin);

    &__image::before {
      opacity: 0.5;
      transition: opacity 0.25s ease-in-out 0.15s;
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    overflow: hidden;
  }

  &__image {
    position: relative;
    width: 100%;
    padding-top: 55%;
    overflow: hidden;
    background-color: lightgray;

    img {
      &.loaded{
        display: block;
      }
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      border: none;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.4em;
    font-weight: 700;
    color: var(--primary-color);
    -webkit-line-clamp: 3; /* Limit the number of lines to 3 */
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  &__date {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 0.43em;
  }

  &__excerpt,
  &__title {
    display: -webkit-box; /* For Safari and older versions of Chrome and Firefox */
    -webkit-box-orient: vertical; /* Overflow direction for webkit */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__excerpt {
    font-size: 1rem;
    line-height: 1.5;
    min-height: 4.5rem; /* Minimum height of 3 lines with 1.5rem line height */
    color: var(--secondary-color);
    margin-top: auto;
    margin-bottom: 0;
    -webkit-line-clamp: 4; /* Limit the number of lines to 4 */
  }
}
